<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {% block navbar_login %}
          {% if "usr_id" in session:  %}
            <a class="nav-link" aria-current="page" href="/logout">Log-out</a>
          {% else: %}
            <a class="nav-link" aria-current="page" href="/login">Log-in</a>
          {% endif %}
          {% endblock %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        {% if "usr_id" in session:  %}
        <li class="nav-item">
          <a class="nav-link" href="/note/writing">Take a note!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/note/showing">Show my notes!</a>
        </li>
        {% endif %}
        {% block navbar_item %}
        {% endblock %}
      </ul>
      <form action="/search" class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="text" placeholder="Suche..." aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit" value="search_submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}

<div class="container pt-5">
  {% block content %}
  {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>