{% extends "base.html" %}
{% block title %} Try again! {% endblock %}
{% block content %}
<div class="mt-4 p-5 bg-warning text-white rounded">
    <p>
        {{content}}
    </p>
</div>
{% endblock %}