{% extends "base.html" %}
{% block title %} Home Page! {% endblock %}
{% block content %}
{% if not locked: %}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Willkommen bei der sicheren Notizanwendung!</h1>
    <p>Es gibt die Möglichkeit sich an unserem System zu registrieren --> Register</p>
    <p>Dann ist es möglich sich einzuloggen --> log-in</p>
    <p>Jetzt geht es los und es können Notizen erstellt werden und die eigenen Notizen gelesen werden.</p>
</div>
{% else: %}
<div class="mt-4 p-5 bg-danger text-white rounded">
    <h1>Sie haben zu viele Anmeldeversuche gebraucht und die Anwendung ist gesperrt!</h1>
</div>
{% endif %}
{% endblock %}