{% extends "base.html" %}
{% block title %} Login Page {% endblock %}
{% block content %}
    {% if warning_msg: %}
        <div class="alert alert-warning">
        {{warning_msg}}
    </div>
    {% endif %}
    {% if alert_msg: %}
    <div class="alert alert-danger">
        {{alert_msg}}
    </div>
    {% endif %}
<div {% if alert_msg %}class="border border-danger rounded" id="login_div" {% endif %}
    {% if warning_msg %}class="border border-warning rounded" id="login_div" {% endif %}
    >
    <form class="m-3" action="/login/pending" method="post">
        <p>
            <label for="e_mail">E-mail:</label>
            <input id="e_mail" class="form-control" type="text" name="mail">
        </p>
        <p>
            <label for="pw">Password:</label>
            <input id="pw" class="form-control" type="password" name="password">
        </p>
        <button class="btn btn-primary" type="submit" value="submit">Abschicken</button>
    </form>
</div>
{% endblock %}