{% extends "base.html" %}
{% block title %} Take a Note! {% endblock %}
{% block content %}
<form method="post">
    <div class="mb-3 mt-3">
        <label for="subject">Betreff</label>
        <input id="subject" class="form-control" type="text" name="subject" placeholder="Betreff">
    </div>
    <input class="form-check-input" type="checkbox" id="priv_check" name="priv" value=1 checked>
    <label class="form-check-label" for="priv_check">Private</label>
    <div class="mb-3 mt-3">
        <label for="note">Text</label>
        <textarea id="note" class="form-control" name="note" placeholder="Eine Notiz eintragen..."></textarea>
    </div>
    <button id="submit_note" class="btn btn-primary float-right" type="submit">Abschicken</button>
</form>
{% endblock %}