{% extends "base.html" %}
{% block title %} Show my Notes! {% endblock %}
{% block content %}
{% if searched:%}
<div class="mt-4 p-5 bg-dark text-white rounded">
    <p>You were searching for: {{searched}}</p>
</div>
{% endif%}
{% if not showing: %}
<div class="card mb-4">
        <div class="card-header">
            <span class="badge bg-primary">{{result[0] | safe }}</span>
        </div>
        <div class="card-body">
             <span class="badge bg-secondary">{{result[1] | safe }}</span>
        </div>
</div>
{% else: %}
{% for input in result: %}
    <div class="card mb-4">
        <div class="card-header">
            <span class="badge bg-primary">{{input[1] | safe }}</span>
        </div>
        {% if showing: %}
        <div class="card-footer">
            <form action="/documents/{{input[0]}}">
                <button class="btn btn-primary">Anzeigen</button>
            </form>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% endif %}
{% endblock %}