{% extends "base.html" %}
{% block title %} Register Page {% endblock %}
{% block content %}
    {% if warning_msg: %}
        <div class="alert alert-warning">
            {{warning_msg}}
        </div>
    {% endif %}
    {% if alert_msg: %}
        <div class="alert alert-danger">
            {{alert_msg}}
        </div>
    {% endif %}
    {% if alert_msg_lst: %}
        <div class="alert alert-danger">
            {% for msg in alert_msg_lst: %}
                    {{msg}}<br>
                {% endfor %}
        </div>
    {% endif %}
    <div {% if alert_msg or alert_msg_lst %}class="border border-danger rounded" id="login_div" {% endif %}
        {% if warning_msg %}class="border border-warning rounded" id="login_div" {% endif %}
        >
        <form class="m-3" method="post">
            <p>
                <label for="usr_name">Username:</label>
                <input id="usr_name" class="form-control" type="text" name="name">
            </p>
            <p>
                <label for="e_mail">E-Mail:</label>
                <input id="e_mail" class="form-control" type="text" name="mail">
            </p>
            <p>
                <label for="pw">Password:</label>
                <input id="pw" class="form-control" type="password" name="password" minlength="8">
            </p>
            <p>
                <label for="pw_ch">Password Check</label>
                <input id="pw_ch" class="form-control" type="password" name="password_check" minlength="8">
            </p>
            <button class="btn btn-primary" type="submit" value="submit">Abschicken</button>
        </form>
    </div>
{% endblock %}