{% extends "base.html" %}
{% block title %} You've done it! {% endblock %}
{% block content %}
<div class="mt-4 p-5 bg-primary text-white rounded">
    <p>
        {{content}}!
    </p>
</div>
{% endblock %}